.favssection {
  margin-bottom: 3rem;
}
.favs {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.clearbtn {
  text-align: center;
}
.clearbtn button {
  width: 70%;
}
.emptyfavs {
  width: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .favs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    place-items: center;
  }
  .btnsm {
    display: none;
  }
  .favssection {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
  }
}
