.footer {
  background-color: #000000;
  color: #fff;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
  margin: 0 auto;
  text-align: center;
}

.footer-section {
  flex: 1;
  padding: 1rem;
}
.footer-nav {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.footer-nav a {
  color: white;
  transition: color 0.3s ease;
}
.footer-nav a:hover {
  color: rgb(58, 10, 58);
}
.footer-section h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #eee;
}

.footer-bottom {
  text-align: center;
  background-color: black;
  margin-top: 2rem;
  color: #fff;
}

.footer-bottom p {
  margin: 0;
}
