.gameslist {
  width: 100%;
  min-height: 15rem;
  text-align: center;
  color: white;
}
.gameslist h3 {
  color: #49d455;
}

.searchedgame {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(91, 83, 237, 1) 0%,
    rgba(211, 213, 118, 1) 6%,
    rgba(155, 107, 213, 1) 41%,
    rgba(157, 88, 214, 1) 47%,
    rgba(48, 207, 88, 1) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bolder;
}

@media (min-width: 600px) {
  .searchedgame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
    place-items: center;
  }
}
