.headerwrapper {
  /* border: 1px solid white; */
  position: relative;
  min-height: 22rem;
}

.headercontent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headerimgwrapper {
  width: 100%;
  height: 100%;
}
.headerimgwrapper img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}
@media (min-width: 600px) and (max-width: 900px) {
  .headerimgwrapper img {
    height: 27rem;
  }
}
@media (min-width: 900px) {
  .headerimgwrapper img {
    height: 82vh;
  }
  .headercontent h2 {
    font-size: 1.8rem;
  }
}
