@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

#root {
  /* max-width: 1280px; */
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: "Paytone One", sans-serif;
}
.font1 {
  font-family: "Paytone One", sans-serif;
}
.font2 {
  font-family: "Prompt", sans-serif;
}
