@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");

.alert {
  position: sticky;
  top: 3%;
  left: 0;
  z-index: 10000000000000;
  background-color: gray;
  /* height: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Handjet", cursive;
  font-weight: bolder;
  font-size: 1.2rem;
  /* display: none; */
  width: 35%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  animation: slideDown 0.3s ease-in-out;
  transition: all 0.3s ease;
}
.alert span {
  font-weight: bolder;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@media (min-width: 700px) {
  .alert {
    width: 20%;
  }
}
